/*Mobile Default*/
body{
    background-color:rgb(155, 211, 237);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{

    display:flexbox;
    marker: none;

}
main{
    display: flex;
    flex-direction:column;
    padding:15px;
    background-color: rgb(97, 120, 149);
    border: 3px dashed black;
    border-radius: 20px;
}
h2,h3,p{
    color: white;
}
/*Tablets*/

@media (min-width:600px){
    
    body{
        font-size:18px;
    }
    header h3{
        font-size: 2.5rem;
    }
}
/*Small Laptops*/

@media (min-width:768px){
    main{
        flex-direction: row;
    }
    article{
        flex:2;
        padding-right: 20px;
    }
    aside{
        flex: 1;
        margin-top: 0;
    }
}

/*Large Devices*/
@media (min-width:1200px){
    main{
        max-width: 1100px;
        margin: 0 auto;
    }
}
